<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE" packages="io.vertigo.analytics.server.feeders.influxdb.log4j2">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<InfluxdbProcess name="InfluxdbProcess" serverUrl="http://localhost:8086" token="*" org="vertigo" />
		<InfluxdbMetric name="InfluxdbMetric" serverUrl="http://localhost:8086" token="*" org="vertigo" />
		<InfluxdbHealth name="InfluxdbHealth" serverUrl="http://localhost:8086" token="*" org="vertigo" />
	</Appenders>
	<Loggers>
		<Logger name="vertigo-analytics-health" level="info" additivity="false">
			<AppenderRef ref="InfluxdbHealth" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="vertigo-analytics-metric" level="info" additivity="false">
			<AppenderRef ref="InfluxdbMetric" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="vertigo-analytics-process" level="info" additivity="false">
			<AppenderRef ref="InfluxdbProcess" />
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>