<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE"
	packages="io.vertigo.analytics.server.feeders.influxdb.log4j2,io.vertigo.analytics.server.feeders.tempo.log4j2">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<InfluxdbProcess name="InfluxdbProcess" serverUrl="${env:INFLUXDB_URL:-http://localhost:8086}" token="${env:INFLUXDB_TOKEN}" org="${env:INFLUXDB_ORG:-vertigo}" />
		<InfluxdbMetric name="InfluxdbMetric" serverUrl="${env:INFLUXDB_URL:-http://localhost:8086}" token="${env:INFLUXDB_TOKEN}" org="${env:INFLUXDB_ORG:-vertigo}" />
		<InfluxdbHealth name="InfluxdbHealth" serverUrl="${env:INFLUXDB_URL:-http://localhost:8086}" token="${env:INFLUXDB_TOKEN}" org="${env:INFLUXDB_ORG:-vertigo}" />
	</Appenders>
	<Loggers>
		<Logger name="vertigo-analytics-health" level="info" additivity="false">
			<AppenderRef ref="InfluxdbHealth" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="vertigo-analytics-metric" level="info" additivity="false">
			<AppenderRef ref="InfluxdbMetric" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="vertigo-analytics-process" level="info" additivity="false">
			<AppenderRef ref="InfluxdbProcess" />
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>